.header-content {
    padding: 16px;
    height: 70px;
    background-color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo {
    width: 90px;
    max-width: 90px;
    padding: 10px;
}


